bruh.py
newFIly.py
output.txt
SpecifySearch
test.py
.vscode/settings.json
__pycache__/app.cpython-310.pyc
__pycache__/GUI.cpython-310.pyc
__pycache__/Main.cpython-310.pyc
__pycache__/Results.cpython-310.pyc
__pycache__/showResults.cpython-310.pyc
__pycache__/SpecifySearch.cpython-310.pyc
__pycache__/StepThroughPages.cpython-310.pyc
